.fa-leaf {
  font-size: 2rem;
  color: #00cf91;
}

.fa-shopping-cart {
  font-size: 1.2rem;
}

.badge {
  font-size: 68%;
}

.user-dropdown,
.user-dropdown:active,
.user-dropdown:focus {
  outline: none;
  border: none;
  background: transparent;
}
