<div class="row">
    <div class="col-md-8">
        <button class="btn btn-success mt-5 mb-4" (click)="addNewCategory(input.value)">Add New
            Category</button>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Category..." #input>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <ul class="list-group list-group-flush">
            <div class="">
                <li class="list-group-item" *ngFor="let cat of categoryService.categories | async">
                    {{cat.key}}</li>
                <!-- <span class="delete">x</span> -->
            </div>
        </ul>
    </div>
</div>